name: 2. Pull Requests Tests
description: "Automated CD for the ACTIONS-FLOW project"

on:
  workflow_run:
    workflows: ["1. Quality Assurance"]
    types:
      - completed
  # push:
  #   branches:
  #     - feature/**
  #     - develop

permissions:
  contents: write
  pull-requests: write

jobs:
  app:  
    if: >
      ${{
        github.event.workflow_run.conclusion == 'success'
        && github.event.workflow_run.head_branch != 'main'
      }}

    uses: heliomarpm/actions-flow/.github/workflows/cd-pull-request.yml@main
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    with:
      coverage_min: 85
      coverage_mode: info