name: "3. Release"

on:
  push:
    branches:
      - main

# concurrency:
#   group: ${{ github.workflow }}-${{ github.ref }}
#   cancel-in-progress: true

# permissions:
#   contents: write # → permite criar e atualizar tags, commits e pushes no repositório.
#   issues: write # (opcional) → se você quiser que o release crie comentários em issues.
#   pull-requests: write # (opcional) → se quiser que o release comente em PRs.
#   packages: write # (opcional) → se estiver publicando pacotes.
#   repository-projects: write # (opcional) → se o release interagir com projetos.

jobs:
  release:
    name: strategy – ${{ matrix.fixture }} | ${{ matrix.scenario }}
    strategy:
      fail-fast: false
      matrix:
        fixture:
          - node-vitest
          # - php-no-tests
          # - node-custom-ok
          # - node-custom-no-summary
          # - node-runner-missing
          # - node-jest
          # - php-phpunit
          # - python-pytest
          # - dotnet-xunit
          # - go
          # - node-no-tests # deve falhar
          # - php-no-tests  # deve falhar
          # - python-no-tests # deve falhar
          # - dotnet-no-tests # deve falhar
          # - go-no-tests # deve falhar

        scenario:
          - default
          # - coverage-block
          # - coverage-decrease
  
    uses: heliomarpm/actions-flow/.github/workflows/cd-semantic-release.yml@main
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    with:
      project_path: fixtures/${{ matrix.fixture }}
      commit_strict_mode: false
