name: "3. Release"

on:
  push:
    branches:
      - main

jobs:
  app:
    uses: heliomarpm/reusable-actions/.github/workflows/cd-semantic-release.yml@main
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}   
